<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WE-Fix-It | {% block title %}{% endblock title %}</title>
</head>
<body>
    {% include 'alphaNavbar.html' %} 
     {% comment  %}Your navbar is at alphanavbar.html and that ia included here {% endcomment %}
    {% block main %}
    {% comment %} Your code goes inside here {% endcomment %}
    {% endblock main %}
    {% include 'alphaFooter.html' %}
    
</body>
</html>