<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrater yourself as staff</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <label for="username">Username:</label>

        <input type="text" name="username">
        <label for="username">password:</label>
        <input type="text" name="password"> 
        <label for="username">full name:</label>
        <input type="text" name="fullname"> 
        <label for="username">email:</label>
        <input type="text" name="email"> 
        <label for="username">address:</label>
        <input type="text" name="address"> 
        <label for="username">number:</label>
        <input type="text" name="number"> 
        <label for="username">nationality:</label>
        <input type="text" name="nationality"> 
        <label for="username">photourl</label>
        <input type="text" name="photoUrl">
        <button type="submit">Submit</button>
    </form>
</body>
</html>