<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>User-Approval</title>
    <style>
        .main{
            height: 100%;
        }
    </style>
</head>
<body>
    <div class=" text-center max-h-full align-bottom py-5 w-full bg-cyan-100" style="font-family:'Lato',sans-serif;">
        <div class="text-gray-700 text-3xl block space-x-1" >User Registration Approval</div>
        <div class="text-gray-500 text-sm">Code is send via mail ,Paste here!</div>
        <form action="/registrationKeyApproval" method="post">
            {% csrf_token %}
            <div>
                <input type="text" placeholder="your code here" class="border-x-gray-800" name="code">
                <input type="text" value={{email}} name = "email" class="hidden">
                <button type="submit" class="h-2 w-5 bg-blue-600 hover:bg-blue-700 border-2 border-white">Submit</button>
                </div>
        </form>
    </div>
</body>


</html>