<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>

<body>


    <nav class="bg-green-500 text-center font-medium shadow-md shadow-gray-500 mb-10 align-middle text-blue-500"
        style="height: 10vh;">
        <div class="align-middle text-3xl">Registration Detail</div>
    </nav>
    <ul class="font-mono font-medium mx-4">
        <li>
            Name:
            {{dataRecord.fullname}}
        </li>

        <li>
            Username

            {{dataRecord.username}}


        </li>
        <li>
            Email:{{dataRecord.email}}

        </li>
        <li>Number:{{dataRecord.number}}
        </li>
        <li> Address:{{dataRecord.address}}
        </li>
        <li> Nationality: {{dataRecord.nationality}}
        </li>
        <li>Photo-url:<a href=https://{{dataRecord.photoUrl}}>Click_here</a>
        </li>
        <li>
            <form action="http://localhost:8000/management/approve" method="post"> {% csrf_token %}<button
                    class="px-3 py-1 rounded-lg bg-green-500 text-white hover:bg-green-600 border-2 hover:border-gray-100"
                    type="submit" name="id" value={{dataRecord.id}}>Approve</button> </form><br>
            <form action="http://localhost:8000/management/registration/disapprove" method="post"> {% csrf_token %} <input type="text" name="message" id="" class="bg-gray-300 border-2 border-green-500"><button
                    class="px-3 py-1 rounded-lg bg-green-500 text-white hover:bg-green-600 border-2 hover:border-gray-100"
                    type="submit" name="id" value={{dataRecord.id}}>Dis-Approve</button></form>
        </li>
    </ul>
</body>

</html>