<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Management | {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href={% static 'output.css' %}> 
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    {% comment %} {% include 'mgmtNavbar.html' %} {% endcomment %}
    {% load static %}
{% include 'mgmtNavbar.html' %}
    
    {% block main %}{% endblock main %}
    {% include 'footer.html' %}
</body>
</html>